body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: hsl(320, 98%, 65%);
  color: rgb(244, 239, 242);
  padding: 15px;
  text-align: center;
}
.footer {
  background: hsl(321, 100%, 77%);
  color: rgb(251, 248, 249);
  padding: 25px;
  text-align: center;   
}

.product-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
}

.product-card {
  border: 1px solid #f076d7;
  width: 200px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
}

button {
  padding: 8px 15px;
  margin-top: 5px;
  cursor: pointer;
}

.cart {
  padding: 20px;
  border-top: 2px solid #e2006d;
}

.modal {
  display: none;
  position: fixed;
  background: rgba(244, 168, 211, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-box {
  background: rgb(254, 146, 218);
  width: 300px;
  margin: 100px auto;
  padding: 20px;
}

.modal-box input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

/* Splash hanya sederhana */
#splash {
  text-align: center;
  padding: 100px;
}